<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WAP Magic 8 ball</title>
        <script src="https://code.jquery.com/jquery-3.6.3.js" 
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" 
            crossorigin="anonymous"></script>
        <script src="js/8ball.js"></script>
    </head>
    <body>
        <form id="QA">
            <label>Q&A</label><input type="text" id="text">
            <input type="submit" value="Ask 8 ball" id="submit">
        </form>
    </body>
</html>