<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>my home</title>
        <link href=<%=cssFile%> rel="stylesheet">
    </head>
    <body>
        <form action="/result" method="post"> 
            Name <input type="text" name="name"> 
            Age <input type="number" name="age"> 
            <input type="submit" value="Submit query"> 
        </form>
    </body>
</html>