body{
    margin: 50px;
}

body > div{
    margin-bottom: 50px;
}

table, th, td {
    border: 1px solid black;
}
th, td{
    width: 200px;
    text-align: center;
}

th{
    background-color: lightgray;
}